SLACK_BOT_TOKEN=""
SLACK_CHANNEL=""
USER=""

NAME=""
USER=""
PASSWORD=""
HOST=""
PORT=""

LOGIN_USERNAME=""
LOGIN_PASSWORD=""
SCROLL=""

POST_FOLLOW_COUNT=""

PROFILE_VISIT_KEYWORDS= ""

POSTS_FOLLOW_KEYWORDS=""

POSTS_SEED_KEYWORDS=""